/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 28, 2020, 11:41:08 AM
    Author     : Magazine3
*/

.quads-ad-config-header{
    margin-top: 5px;    
}
.quads-ad-config-tab ul{
    display: flex;   
    border: 1px solid#e7e7e7;
    margin: 0;
    overflow: hidden;
}
.quads-ad-config-tab ul li{
    padding: 12px;
    font-size: 14px;
    width: 30.7%;
    background: #F3F3F3;
    color: #333;
    text-align: center;
    margin-bottom: 0px;
    position: relative
}
.quads-ad-config-tab ul li:after{
    content: "";
    position: absolute;
    display: inline-block;
    width: 44px;
    height: 44px;
    top: -1px;
    right: -20px;
    background-color: #f3f3f3;
    border-top-right-radius: 0px;
    -webkit-transform: scale(0.707) rotate(45deg);
    transform: scale(0.7) rotate(45deg);
    box-shadow: 3px -3px rgb(231, 231, 231);
    z-index: 1;
}
.quads-ad-config-tab ul li.quads-selected,.quads-ad-config-tab ul li.quads-selected:after {
    background-color: #fff; 
}
#quads-ad-form {
    background: #fff;
}
.quads-close-create-page{
    font-size: 34px !important;
    text-align: right;
    cursor: pointer;
    float: right;
    position: relative;
    top: 15px;
    right: 25px;
}
.quads-close-create-page a{
    color: #333;
}
.quads-gree-notice-box{
    height: 10px;
    width: 607px;
    padding: 15px;
    margin: 20px;
    background: #aeccae;
    color: white;
}
.quads-gree-notice-box span{
    float: right;
    cursor: pointer;
    font-size: 20px;
    color: white;
}
.hover_data {
    padding: 8px 0px 0px 6px !important;
    background-clip: padding-box !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    min-width: 94px !important;
    bottom: 10px !important;
}
.lazy_loader, .lazy_loader_l, .lazy_loader_g, .lazy_loader_a, .lazy_loader_c,.lazy_loader_r, .lazy_loader_t, .lazy_loader_rr, .lazy_loader_gp, .lazy_loader_ap, .lazy_loader_s, .lazy_loader_bl, .lazy_loader_ab, .lazy_loader_o, .lazy_loader_h, .lazy_loader_ge, .lazy_loader_al, .lazy_loader_rs  {
    border: 5px solid #f3f3f3;
    animation: spin 0.7s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: none;
    bottom: 24px;
    position: relative;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }