/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 28, 2020, 11:41:08 AM
    Author     : Magazine3
*/

.quads-side-part{
    width:10%;
}
.quads-modal-part{
    width: 70%;
}
.quads-close-ad-modal{
    float: right;
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
}
.quads-ad-header{
    height: 27px;
}
.quads-settings-tab ul{
    padding: 0;
}
