/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 28, 2020, 11:41:08 AM
    Author     : Magazine3
*/

.quads-ad-search-box input{
    width: 100%;
    max-width: 100%;
    height: 50px;
    vertical-align: top;
    border: 1px solid #e1e1e1;
    border-radius: 0px;
    margin: 0 0px !important;
    font-size: 16px;
    color: #666666; 
    padding-left: 60px;
    //background: #fff url(../../../images/quads-search.png) no-repeat;
    background-size: 22px;
    background-position: 20px;
}

.quads-ad-search-box .quads-select-div{
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.quads-select-div select{
    border: 1px solid #e1e1e1;
}
.quads-select-div label{
    margin-right: 10px;
    width:100%;
}
.quads-select-div .MuiFormControl-root{
    color:#000;
    text-align: center;
    //background-color: #f1f3f4;
}
.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
    margin-top:50px; 
}