/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 28, 2020, 11:41:08 AM
    Author     : Magazine3
*/

.quads-ad-list-table-div{
    background-color: #fff;    
}
.quads-ad-table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.quads-ad-table tr {border-bottom:1px solid #E1E1E1}
.quads-ad-table tbody tr:hover{
    background: #f1f3f4
}
.quads-ad-table td{
    padding: 12px 25px;
    line-height: 1.5;
    color: #333;
    font-size: 15px;
    text-transform: capitalize;
}
.quads-ad-table td.quads_no_transform{
  
    text-transform: none;
}
.quads-ad-table td:nth-child(2) img {
    position: relative;
    top: 2px;
    margin-right:3px;
}
.quads-ad-table td:nth-child(3) {
    color:#666
}
.quads-ad-table td:nth-child(4) {
    padding: 0;
}
.quads-ad-table th {
    padding: 14px 10px 14px 25px;
    line-height: 2;
    text-align: left;
    font-size: 13px;
    color: #5f6368;
    font-weight: 600;
}
.quads-adlists.info-wrpr {
    position: relative;
}
.material-icons.info {
    font-size: 0.85em;
    cursor: pointer;
}
.quads-ads-selected-lists {
    position: absolute;
    top: -58px;
    left: 0;
    float: left;
    width: max-content;
    padding: 10px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.quads-ads-selected-lists span {
    font-size: 0.75em;
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: .025em;
}
.quads-ads-selected-lists span:after {
    content: "|";
    margin: 6px;
}
.quads-ads-selected-lists span:last-child:after {
    content: " ";
    margin: 0;
}
.quads-ad-label-draft{
    color: #5f6368;
    font-family: Roboto,Arial,sans-serif;
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: .025em;
    line-height: 1rem;
    background-color: #f1f3f4;
    border-radius: 4px;
    padding: 2px 4px;
}
.ad_logging .quads-ad-table th:nth-child(4) {
    color: #5f6368;
 }
.quads-action-div a.quads-edit-btn, .quads-action-div a.quads-more-btn{
    cursor: pointer;
    color: #555;
    display: inline-block;
    height: 48px;
    width: 48px;
    border-radius: 50px;
    text-align: center;
    margin: 0 0px;
    line-height: 60px;
}
.quads-action-div a:hover {
    background: rgba(0, 0, 0, 0.04);
}
.quads-action-div a .material-icons{
    width: 24px;
    height: 24px;
}
.quads-action-div a .material-icons:focus, .quads-action-div a:focus{
    outline: 0;
    box-shadow: none;
}
.quads-edit-btn{
    text-decoration: none;
}
.quads-action-div{
    position: relative;
}
.quads-action-div a{
 cursor: pointer;
}
.quads-more-icon-box{
    position: absolute;
    top: 80%;
    left: -100px;
    z-index: 100000;
    float: left;
    min-width: 125px;
    padding: 20px 10px 10px 10px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.quads-more-icon-box ul{

    margin: 0;
}
.quads-more-icon-box li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 6px 5px;
    margin: 0;
    /* text-align: center;*/
}
.quads-more-icon-box li a {
    font-size: 13px;
    color: #666;
}
.quads-action-div .quads-more-icon-box .material-icons {
    font-size: 16px;
    color: #666;
    margin-right: 2px;
    width: auto;
    height: auto;
    position: relative;
    top: 3px;
} 
.quads-more-icon-box li:last-child {
    border-bottom: 0;
}
.quads-action-div .quads-more-icon-box a:hover {
    background: none;
}
.quads-more-icon-box-close {
    float: right;
    cursor: pointer;
    position: relative;
    top: -18px;
    right: -7px;
}
.quads-action-div .quads-more-icon-box-close .material-icons {
    font-size: 16px;
}
.nodatatable td{
    text-align: center;height: 250px;
}
.first_ad_main{
    padding : 50px;
}
.first_ad_main h3{
    font-size: 25px;
    margin: 0 0 22px 0;
}
.first_ad{
    margin-bottom: 15px;
    display: block;
    color: #444;
    font-size: 15px;
}
.fakebox{
     padding: 8px 35px 22px 35px;
    display: inline-block;
    box-shadow: 0px 0px 4px #0000002b;
    border-radius: 14px;
    position: relative;
}
.fakebox_close:before{
    content: "x";
    position: absolute;
    right: -8px;
    border-radius: 40px;
    background: #fff;
    box-shadow: 0px 0px 3px #00000040;
    height: 22px;
    width: 22px;
    top: -8px;
    color: #666;
    font-size: 12px;
    line-height: 22px;
    cursor: pointer;
}
.fakebox h3{
    margin-bottom: 12px;
    font-size: 18px;
}
.fakebox .text{
     margin-bottom: 12px;
    font-size: 13px;
}
.fakebox .yes{
        padding: 0;
    background: #666;
    color: #fff;
    font-size: 13px;
    margin: 0 10px;
    padding: 7px 12px;
}

.fakebox .no{
    padding: 0;
    background: #666;
    color: #fff;
    font-size: 13px;
    padding: 7px 12px;
}
.nodatadiv{
    text-align: center;
    padding: 0px 0px 50px 0px;
}
.nodatadiv h3,.nodatadiv strong{
  text-transform: capitalize;
}


.nodatadiv .first_ad_main .quads-btn-primary {

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.nodatadiv .first_ad_main .material-icons {
    margin-right: 6px;
}
.static_num{
    font-weight: bold;
}
a.view_reports_ {
    top: 0px;
    background: #444;
    color: #fff !important;
    border-radius: 4px;
    padding: 4px 10px;
}
.view_reports_:hover {
    background: #444 !important;
}a.delete_ad {
    padding-right: 16px;
}a.ad_draft {
    padding-left: 12px;
}
.quad-ad-network-list li img {
    max-width: 40px;
    top:0;
}
a.quads-prv-img-wrpr {
    position: relative;
    display: block;
}
.quads-prv-ad {
    font-size: 15px;
    position: absolute;
    top: -25px;
    right: 10px;
    color: #ccc;
}
.quads_ajax_loader {
    border: 5px solid #f3f3f3;
    text-align: center;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 12px;
    height: 12px;
    margin: 0 auto;
    -webkit-animation: quadspin 2s linear infinite; /* Safari */
    animation: quadspin 2s linear infinite;
  }
  /* Safari */
@-webkit-keyframes quadspin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes quadspin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }