/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 28, 2020, 11:41:08 AM
    Author     : Magazine3
*/

.quads-search-box-panel{
    display: flex;
    width: 100%;
    margin-top:20px;
}
.quads-search-box{
    display: inline-block;
    width: 100%;
}
.quads-modal-popup-content h3 {
  	font-size: 20px;
	line-height: 1.3;
	font-weight: 600;
	padding-bottom: 20px;
}
.quads-modal-popup-content h3 span{
    color:red;
}
.quads-modal-popup-txt p{
	margin:0px;
	font-size:16px;
	line-height:1.5;
}
 .quads-modal-popup-content {
    max-width: 480px !important;
    border-radius: 8px;
    padding: 0px !important;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30%;
}
.quads-modal-popup-txt{
	padding: 30px 40px;
}
.quads-modal-content{
	text-align: right;
	margin: 0 !important;
	padding:15px 20px;
	background:#eee;
	box-sizing: border-box;
	border-radius: 0px 0px 8px 8px;
}
.quads-btn.quads-btn-delete, .quads-btn.quads-btn-delete:hover {
    background-color: #1A73E8 !important;
    color: #fff !important;
    padding: 10px 30px;
    border-radius: 6px;
 }
a.quads-btn-cancel{
	color:#666 !important;
	padding: 10px 30px;
    border-radius: 6px;
    font-size: 16px;
}
a.quads-btn-cancel:hover{
	background:#666 !important;
	color:#fff !important;
}
input[type=checkbox]:checked{
    background-color: #005af0;
    color:#fff;
}
input[type=checkbox]:checked::before{
    filter: brightness(0) invert(1);
}
.quads-ad-table .partial-checked::before{
    filter: brightness(0) invert(1);
    content:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDI1NiAyNTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3QgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNTYiIHdpZHRoPSIyNTYiLz48bGluZSBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyNCIgeDE9IjQwIiB4Mj0iMjE2IiB5MT0iMTI4IiB5Mj0iMTI4Ii8+PC9zdmc+');

}
.quads-ad-table .partial-checked{
    background-color: #005af0;
}

.quads-ad-table .quads-checked{
    background: #f1f3f4;
}
#quads_selected_total_cnt{
    font-size: 16px;
    color: #333;
}