/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 28, 2020, 11:41:08 AM
    Author     : Magazine3
*/

.quads-search-box-panel{
    display: flex;
    width: 100%;
    margin-top:20px;
}
.quads-search-box{
    display: inline-block;
    width: 100%;
}