/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 28, 2020, 11:41:08 AM
    Author     : Magazine3
*/

.quads-search-box-panel{
    display: flex;
    width: 100%;
    margin-top:20px;
}
.quads-search-box{
    display: inline-block;
    width: 100%;
}
.quads-modal-popup-content h3 {
  	font-size: 20px;
	line-height: 1.3;
	font-weight: 600;
	padding-bottom: 20px;
}
.quads-modal-popup-content h3 span{
    color:red;
}
.quads-modal-popup-txt p{
	margin:0px;
	font-size:16px;
	line-height:1.5;
}
 .quads-modal-popup-content {
    max-width: 480px !important;
    border-radius: 8px;
    padding: 0px !important;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30%;
}
.quads-modal-popup-txt{
	padding: 30px 40px;
}
.quads-modal-content{
	text-align: right;
	margin: 0 !important;
	padding:15px 20px;
	background:#eee;
	box-sizing: border-box;
	border-radius: 0px 0px 8px 8px;
}
.quads-btn.quads-btn-delete, .quads-btn.quads-btn-delete:hover {
    background-color: #1A73E8 !important;
    color: #fff !important;
    padding: 10px 30px;
    border-radius: 6px;
 }
a.quads-btn-cancel{
	color:#666 !important;
	padding: 10px 30px;
    border-radius: 6px;
    font-size: 16px;
}
a.quads-btn-cancel:hover{
	background:#666 !important;
	color:#fff !important;
}
