.quads-user-targeting table td{
    width: 25%;
}
.quads-user-targeting table td .amp-support {
  font-size: 11px;
  color: red; }


  .quads-targeting .quads-title{
	color :#9c27b0;
}
  .quads-targeting .quads-user-targeting a .material-icons{
	color :#9c27b0;
}

.quads-targeting .quads-target-item{
	border: 1px solid rgba(156, 39, 176, 0.24);
    background-color: rgba(156, 39, 176, 0.08);
}
.quads-user-targeting-label b{
	    color: #000000;
}
.targeting_get_pro{
      text-transform: none;
}