
.quads-ad-networks li{
    text-align: center;
    background: #fff;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
    margin-bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
    transition: 0.3s;
}
.quads-ad-networks li:hover {
    box-shadow: rgba(0, 0, 0, 0.20) 0px 3px 15px;
}
.quads-ad-networks ul{
    padding: 0px;
    list-style-type: none;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px 15px;
    margin: 0;
}
.quads-side-part{
    width:10%;
}
.quads-ad-type-link img {
    max-width: 150px;
    width: auto;
    padding: 15px 0;
}
a.quads-nav-link:focus {
    box-shadow: none;
}

.quads-full-page-modal {
    position: absolute;
    left: 0;
    top: -18px;
    right:0px;
    z-index: 9;
    overflow-x: hidden;
    overflow-y: auto;
}
.quads-full-page-modal-content {
    max-width: 100%;
    height: 100%;
}
.quads-full-page-modal-content h3 {
    position: relative;
    top: 42px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    margin: 0;
    z-index: 99;
}
.quads-full-page-modal .quads-close-create-page {
    top: 35px;
}
.quads-ad-networks {
  padding: 60px 50px;
  max-width: 100%;
  background:#fff;
  z-index: 8;
  position: relative;
}

@media(max-width:1199px){
    .quads-ad-networks ul{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width:768px){
    .quads-ad-networks ul {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px 20px;
    }

  }

@media(max-width:591px){
  .quads-ad-networks ul {
    grid-template-columns: 1fr 1fr;
  }

}

@media(max-width:450px){
  .quads-ad-networks {
    padding: 60px 20px;
  }
  .quads-full-page-modal-content h3 {
    padding-left: 20px;
  }
  .quads-full-page-modal .quads-close-create-page {
    right: 20px;
  }

}

@media(max-width:330px){
  .quads-ad-networks ul {
    grid-template-columns: 1fr;
  }

  }
