.quads-large-popup{
  
}
.view_report{
  padding: 25px 12px 12px 12px;
}
.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 15px 15px 10px 20px;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: .25rem;
}
.breadcrumb-item.active {
  color: #6c757d;
}
.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  padding-left: .5rem;
  color: #6c757d;
  content: "/";
}
.chart_main_class{
  padding: 24px;
}
.breadcrumb-item{
  cursor: pointer;
}

#report_type,#report_period,#input_based,#report_view_type{
  width: 200px;margin: 0px 0px 3px 4px;
}
.quads-select-menu{
  display: flex;
}
.view_report label{
  margin-right: 9px;
}
#quads-adsense .quads-nav-link strong {
  color: #005af0;
}
#report_view_type{
  float: right;
}
#quads_report_table{
  padding-top: 10px;
}
#quads_report_table table{
  border-collapse: collapse;
}
#quads_report_table table td{
  border: 1px solid #b4b4b4;
  padding: 5px 13px;
}
#quads_report_table table b{
  font-weight: 700;
  line-height: 2;
  font-weight: 600;
}
#quads_report_table_total{
  padding-left: 40px;
}
#quads_report_table_total table{
  border-collapse: collapse;
}
#quads_report_table_total table th{
  border: 1px solid #b4b4b4;
  padding: 5px 13px;
}
#quads_report_table_total table td{
  border: 1px solid #b4b4b4;
  padding: 5px 13px;
  padding-right: 52px;
}
#quads_report_table table tr{
  display: inherit;
}
#quads_report_table_total table b{
  font-weight: 700;
  line-height: 2;
  font-weight: 600;
}

.quads-report-networks h1{
  font-size: 15px;
}
.quads-report-networks {
  max-width: 100%;
  background: #fff;
  z-index: 8;
  position: relative;
}

.quads-segment ol.breadcrumb{
margin: 0px;
}
.canvas_get_pro{
  position: relative;
  background: #6c6c6c;
  z-index: 99999999999999999999999999999999999999999999999;
}

.canvas_get_pro #quads_get_pro{
  position: absolute;
  top: 30%;
  font-size: 25px;
  color: #fff;
  left: 27%;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}

.canvas_get_pro #quads_get_pro a{
  font-size: 16px !important;
  display: block;
  margin: 0 auto;
  width: 190px;
  height: 34px;
  line-height: 32px;
}
.quads-ad-networks.ad_logging{
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}
.ad_logging .quads-ad-table {
    border: 1px solid #eee;
}
.show_btn {
  padding: 4px 10px 6px 10px;
  font-size: 14px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.quads-select.view_statsreport {
  display: -webkit-box;
  margin-top: 20px;
}
.quads-select {
  display: -webkit-box;
  margin-top: 20px;
}
#wpbody{
  background-color: white;
}
#report_period{
  position: absolute;
  right: 0;
  margin-top:-4px;
}
.ad_logging #report_period{
  position: relative;
  margin: 0;
}
tr.top5_ads_click
{
  cursor:pointer;
  color:#005af0;
}
.main_td{
  padding:0 !important;
  border: 0 !important;
}
@keyframes quads-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.quads-loading-spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #1873e8; /* Blue */
  border-top: 4px solid #ffffff; /* White */
  border-radius: 50%;
  animation: quads-spinner 1.5s linear infinite;
}
#quads-spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}
.export_btn {
  margin-left: 2px;
  background-color: #005af0;
  color:#ffffff;
}