/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 28, 2020, 11:41:08 AM
    Author     : Magazine3
*/
.quads-settings-saved-msg{
  background: blue;  
  color: #fff;  
  display: block;
  width: 100%;
  background: greee;
  padding: 10px;
  margin: 0 0 5px;
  border-radius: 4px;
  font-size: 16px;
  font-family: arial,sans-serif;
  line-height: 17px;
  position: relative;
  pointer-events: all!important;
  display: block;
  position: fixed;
  width: 200px;
  pointer-events: none!important;
  letter-spacing: normal;
  z-index: 9999999;
  bottom: 20px;
  right: 20px;
  box-shadow: 5px 5px 5px grey;
}
.quads-settings-tab ul {
  margin: 0;
  background-color: #fff;
  margin-top: 20px;
  padding: 20px 0px;
  border-bottom: 1px solid #E1E1E1;
  
}
.quads-settings-tab ul li a {
    padding: 20px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    font-weight: 500;    
}
.quads-settings-tab ul li a:focus{
  outline: 0;
  box-shadow: none;
}
.quads-settings-tab ul h2{
  margin: 0;
}
a.quads-nav-link-active {
  border-bottom: 3px solid #005af0;
  position: relative;
  padding: 19px 20px;
  color: #005af0 !important;
}
.quads-settings-tab ul li {
  display: inline-block; 
  line-height: 22px;
  margin-bottom: 0;
}
.quads-settings-content{
  background-color: #fff;
  min-height: 500px;
  display: inline-grid;
  grid-template-columns: 1fr 250px;
  width: 100%;
  grid-gap: 30px;
}
.quads-settings-tab-container {
  padding: 15px 25px 25px 30px;
}
.quads-settings-tab-container .form-table{
    margin-top: 0;
}
.quads-settings-tab-container label {
  font-size: 16px;
  font-weight: normal;
  color: #333;
}
.quads-settings-tab-container th{
    width: 280px;
}
#quads-submit-button{
  margin: 15px;
}
.quads-premium-cus{
  margin-top: 5px;  
}
.quads-help-support input,textarea,select{
  width: 100%;  
}
.quads-help-support select{
  max-width: 100%;  
}
.quads-system-info{
  width: 580px;
    height: 400px;
    font-family: Menlo, Monaco, monospace;
    background: none;
    white-space: pre;
    overflow: auto;
    display: block;
}
.quads-save-settings{
  padding: 25px;
}
.importampforwpmsgprocessing{
      background-color: rgb(237, 247, 237);
      padding: 6px 16px;
    font-size: 0.875rem;
}

/** New CSS **/
.quads-settings-tab-container .quads-hs{
  display: inline-grid;
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}
.quads-docm{
  order:1;
  flex: 1 0 40%;
  margin-top:20px;
}
.quads-help-support{
  width:100%;
}
a.quads-doc-link{
  background: #fff;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.13);
  display: inline-block;
  padding: 35px;
  width:100%;
  text-decoration:none;
  text-align:center;
  transition:all 0.3s ease-in-out 0s;
  box-sizing: border-box;
}
a.quads-doc-link:hover{
  box-shadow: 0 7px 35px 0 rgba(0,0,0,.18);
}
.quads-doc-link h4{
  font-size: 23px;
  line-height: 1.2;
  font-weight: 700;
  color: #434264;
  margin:0px 0px 15px;
}
.quads-doc-link p{
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  color: #5c6771;
  margin:0px 0px 15px;
}
.quads-doc-link span{
  color: #005af0;
  font-size: 14px;
  font-weight: 500;
  border-width: 0;
}
.quads-pre-cu{
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.quads-bnr{
  margin-top:30px;
}

@media(min-width:1280px){
  .quads-docm {
    width: 300px;
  }

}

@media(max-width:1200px){
  .quads-settings-tab-container .quads-hs {
    grid-gap: 30px;
  }
}

@media(max-width:1180px){
  .quads-settings-content {
    grid-template-columns: 1fr;
  }

}

@media(max-width:980px){
  .quads-settings-content {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .quads-bnr {
    margin-top: 0;
  }
}
@media(max-width:600px){
  .quads-settings-tab-container .quads-hs{
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

.adblock_support .quads-modal-popup-content{
      max-width: 980px !important;
}
.adblock_support .quads-modal-popup-content{
    position: initial;
}

.adblock_support .quads-modal-popup-content {
    max-width: 96% !important;
}

.quads-modal-popup.adblock_support{
position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99999;
    }

  .adblock_support  .quads-modal-popup-content h3{
    padding:15px 20px !important;
    border-bottom: 1px solid #ccc;
    }

  .adblock_support .quads-modal-close {


    color: #444;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    border-left: 1px solid #ccc;
    line-height: 2;
    padding: 0px 15px;
    }

   .adblock_support .form-table td {

    margin-bottom: 9px;
    padding: 15px 10px;
    line-height: 1.3;
    vertical-align: middle;
    text-align: left;

}


 .adblock_support .quads-modal-content {
    background: #fff;
}
 .adblock_support .notice_type span{
  width:100%;
  display:inline-block;
  margin-bottom:10px;
}


 .adblock_support .quads-save-close{
      width: 100%;
    display: inline-block;
    position: sticky;
    bottom: 20px;
    top: auto;
    right: 0;
    background: #f1f1f1;
    left: 0;
}

.quads-modal-content.adsforwp-quads-popup{
      text-align: left;
}
.quads-modal-content.adsforwp-quads-popup .quads-switch{
    margin-left: 40px;
}
 